// Body
$body-bg: #8ea4ba;
 

$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    padding: 2.5rem; // p-10 equivalent
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem; // mb-5 equivalent
    border-bottom: 4px solid #ddd;
    padding-bottom: 0.5rem; // pb-2 equivalent

    h1 {
        padding: 0.75rem; // p-3 equivalent
        text-transform: capitalize;
        color: #000;
        font-weight: bold;
    }

    a {
        text-transform: capitalize;
        color: #313c59;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .form-group {
        display: flex;
        width: 100%;
        margin-top: 0.75rem; // my-3 equivalent
        margin-bottom: 0.75rem; // my-3 equivalent

        label {
            width: 24rem; // w-96 equivalent
            span {
                color: #f56565; // text-red-500 equivalent
            }
        }

        .input-container {
            display: flex;
            flex-direction: column;
            width: 100%;

            input {
                border: 1px solid #ddd;
                padding: 0.5rem; // py-2 px-1 equivalent
            }
        }
    }

    .form-actions {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        button {
            background-color: #bbc6da; // bg-gray-800 equivalent
            color: #fff;
            padding: 0.5rem; // px-2 py-3 equivalent
            width: 10rem; // w-40 equivalent
            transition: all 0.3s; // transition-all equivalent
            font-weight: 600; // font-semibold equivalent
            border-radius: 0.125rem; // rounded-sm equivalent

            &:hover {
                background-color: #1a202c; // hover:bg-gray-900 equivalent
            }
        }
    }
}

.responsive-table {
    width: 100%;
    border-collapse: collapse;

    thead {
        background-color: #e2e8f0; // bg-gray-200 equivalent
        height: 2.5rem; // h-10 equivalent
    }

    th,
    td {
        border: 1px solid white;
        text-align: center;
        padding: 0.5rem; // Adjust padding as needed
    }

    tbody {
        tr {
            &:nth-child(even) {
                background-color: #b2b7bc; // Light background for even rows if desired
            }

            &:nth-child(odd) {
                background-color: #aa9c9c; // White background for odd rows
            }
        }
    }

    .flex {
        display: flex;
        gap: 1.25rem; // gap-x-5 equivalent
        align-items: center;
        justify-content: center;
    }
}

// Media query for responsive design
@media (max-width: 768px) {
    .responsive-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;

        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        tr {
            margin-bottom: 0.625rem; // Add space between rows
        }

        th,
        td {
            text-align: right;
            position: relative;
            padding-left: 50%;
            text-align: left;
            border: none;
            display: block;
        }

        th::before,
        td::before {
            position: absolute;
            left: 0;
            width: 45%;
            padding-left: 0.625rem;
            white-space: nowrap;
            text-align: left;
        }

        th::before {
            content: attr(data-label); // Add data-label attribute to th
        }

        td::before {
            content: attr(data-label); // Add data-label attribute to td
        }
    }
}

.btn {
    border: 1px solid;
    padding: 0.5rem; // p-2 equivalent
    text-transform: capitalize; // capitalize equivalent
    border-radius: 0.375rem; // rounded-md equivalent
    transition: all 0.3s; // transition-all equivalent

    &.btn-primary {
        background-color: #3b82f6;
        color: white;

        &:hover {
            background-color: rgba(59, 130, 246, 0.8);
        }
    }

    &.btn-danger {
        background-color: #ef4444; // bg-red-500 equivalent
        color: white;

        &:hover {
            background-color: rgba(
                239,
                68,
                68,
                0.8
            ); // hover:bg-red-500/80 equivalent
        }
    }

    &.btn-warning {
        background-color: #f59e0b; // bg-yellow-500 equivalent
        color: white;

        &:hover {
            background-color: rgba(
                245,
                158,
                11,
                0.8
            ); // hover:bg-yellow-500/80 equivalent
        }
    }

    &.btn-success {
        background-color: #10b981; // bg-green-500 equivalent
        color: white;

        &:hover {
            background-color: rgba(
                16,
                185,
                129,
                0.8
            ); // hover:bg-green-500/80 equivalent
        }
    }

    &.btn-base {
        background-color: #134e4a; // bg-teal-800 equivalent
        color: white;

        &:hover {
            background-color: rgba(
                19,
                78,
                74,
                0.8
            ); // hover:bg-teal-800/80 equivalent
        }
    }

    &.btn-default {
        color: #3b82f6; // text-blue-500 equivalent

        &:hover {
            color: rgba(59, 130, 246, 0.8); // hover:text-blue-500/80 equivalent
        }
    }
}

$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

